<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
<style>
	body{
		background-color: rgb(230,230,230);
		font-family: Source Sans Pro;
	}

	.container{
		margin-left: auto;
		margin-right: auto;
		height:330px;
		width: 320px;
		border:1px solid #aeaeae;
		background-color: white;
		box-shadow: #aeaeae -5px 5px;
	}

	.logo{
		margin-left: auto;
		margin-right: auto;
		width: 80px;
		height: 80px;
	}

	.label{
		width: 110px;
		text-align: right;
		margin-top: 5px;
		padding-right: 10px;
		padding-left: 200px;
		font-weight: 300;
		font-size: 14px;
		text-transform: uppercase;
		color: #aeaeae;
	}

	.welcome{
		position: relative;
		margin-top: 42px;
		width:100%;
		height:auto;
		text-align: center;
		font-size: 18px;
		font-weight: 400;
	}

	a.activate{
		text-decoration: none;
		color: black;
		padding-top: 13px;
		padding-bottom: 15px;
	}

	a.activate:hover{

	}

	.activate-button{
		position: relative;
		margin-top: 48px;
		text-align: center;
		font-size: 14px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 13px;
		height:33px;
		width: 168px;
		border:1px solid #aeaeae;
		background-color: white;
		box-shadow: #aeaeae -5px 5px;
	}

	.activate-button:hover{
		cursor: pointer;
		border:1px solid black;
		box-shadow: black -5px 5px;
	}

	.social-media{
		position: relative;
		margin-top: 46px;
		width:100%;
		height:auto;
		text-align: center;
		font-family: Font Awesome;
		font-size: 20px;
		font-weight: 400;
	}

	a.social-media{
		color: #aeaeae;
	}

	a.social-media:hover{
		color: black;
	}

	.message{
		position: relative;
		margin-top: 12px;
		width:80%;
		padding-left: 10%;
		padding-right: 10%;
		height:auto;
		text-align: center;
		font-size: 12px;
		font-weight: 400;
	}

	.spacer{
		margin-left: auto;
		margin-right: auto;
		height:1px;
		width:320px;
		background-color: #aeaeae;
	}

	.footer{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: 10px;
		font-weight: 300;
		width:320px;
		height:auto;
	}
</style>
<div style="width:100%;height:auto;position:absolute;margin-top: 120px">
	<div class="container">
		<div class="label">
			<%= t :mailing_activation %>
		</div>
		<div class="welcome">
			<%= t :mailing_activate_welcome %>
		</div>
		<div class="activate-button">
			<a class="activate" href="<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>" target="_blank"><%= t :mailing_activate %></a>
		</div>
		<div class="social-media">
			<a class="social-media" href="http://facebook.com/Rhisoma-1213856005395107/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
		</div>
		<div class="message">
			<%= t :mailing_activate_message %> u@rhisoma.com
		</div>
	</div>
</div>
<div style="width:100%;height:auto;position:absolute;margin-top: 80px">
	<div class="logo">
		<a href="http://rhisoma.com" target="_blank"><img id="rhisoma-logo" src="<%= image_path 'logo.png' %>" width="80px" height="80px" /></a>
	</div>
</div>
<div style="width:100%;height:auto;position:absolute;margin-top: 522px">
	<div class="spacer">
	</div>
</div>
<div style="width:100%;height:auto;position:absolute;margin-top: 536px">
	<div class="footer">
		<%= t :mailing_footer %><br />
		<%= t :mailing_address %>
	</div>
</div>
